*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
__pycache__
_site
.Rproj.user
.Rhistory
.RData
.vscode/
data/
.sdc-bids-dmri
.bundle/
.vendor/
.docker-vendor/
Gemfile.lock
.*history

# Editor temporary/working/backup files
.idea/
