*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
__pycache__
_site
.Rproj.user
.Rhistory
.RData
.bundle/
.vendor/
vendor/
.docker-vendor/
Gemfile.lock
.*history

# editor-specific folders
.vscode/
.idea/

# data folder
data/

# Python virtual environment
.sdc-bids-dmri
